<%valoracionP=0%>
<%valoracionN=0%>
 <%if @questioncommentvotes.where(question_comment_id:@comentario.id).count !=0%>
   <% @questioncommentvotes.where(question_comment_id:@comentario.id).each do|voto|%>
    <%if voto.tipo%>
      <%valoracionP =valoracionP+1%>
    <%else%>
      <%valoracionN =valoracionN+1%>
    <%end%>
   <%end%>
 <%end%>
<h5 class="mb-1 text-center"><%= @comentario.contenido %></h5>
<%= link_to users_show_path(@comentario.user_id) do %>
  <kbd> <%= @users.find(@comentario.user_id).nombre%> <%= @users.find(@comentario.user_id).apellido%><br></kbd>
<%end%>
<small> <%= @comentario.created_at.strftime("%d/%m/%Y %H:%M:%S")%><br></small>
<small>Votos positivos: <%=valoracionP%><br>Votos negativos: <%=valoracionN%><br></small>
