<%valoracion=0%>
<%if @questionvotes.where(question_id:@question.id).count !=0%>
  <% @questionvotes.where(question_id:@question.id).each do|voto|%>
    <%if voto.tipo%>
      <%valoracion =valoracion+1%>
    <%else%>
      <%valoracion =valoracion-1%>
    <%end%>
  <%end%>
<%end%>
<h4 class="mb-1 text-center"><%= @question.contenido %> </h4>
<% if @question.desc != ""%>
  <h5 class="mb-1 text-center"><%= @question.desc %> </h5>
<% end %>
<%= link_to users_show_path(@question.user_id) do %>
<medium><%= "#{@users.find(@question.user_id).nombre} #{@users.find(@question.user_id).apellido}"%><br></medium>
<%end%>
<small><%= @question.created_at.strftime("%d/%m/%Y %H:%M:%S")%><br></small>
<small>Valoracion: <%= valoracion%><br></small>
<small>Numero de visitas: <%= @question.num_visitas%><br></small>
<small>Etiquetas:
  <div class="btn-group btn-group-xs">
    <% @questionlabel.where(question_id:@question.id).each do |l| %>
      <button type="button" class="btn btn-info"><%=@labels.find(l.label_id).nombre %></button>
    <%end%>
  </div>
  <br><br>
</small>
