<div class="row" data-pg-collapsed style="margin-top: 50px;padding:10px;background">
    <nav class="navbar navbar-default" role="navigation" data-pg-collapsed>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Educandig</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search">
                  <div class="form-group" style="margin-right: 25px;" data-pg-collapsed>
                    <label class="control-label" for="facultad" style="margin-right: 5px;" >Universidad</label>
                    <select id="facultad"  name="facultad" class="form-control" style="width:125px;">
                        <% @faculties.order(:nombre).each do |facultad| %>
                             <option value=<%=facultad.nombre%>><%=facultad.nombre%> - <%=@directions.find(facultad.direction_id).ciudad%>, <%=@directions.find(facultad.direction_id).calle%></option>
                        <% end %>
                    </select>
                  </div>
                  <div class="form-group" style="margin-right: 25px;" data-pg-collapsed>
                    <label class="control-label" for="etiqueta" style="margin-right: 5px;">Etiquetas</label>
                    <select id="etiqueta"  name="etiqueta" class="form-control" style="width:125px;">
                        <% @labels.order(:nombre).each do |etiqueta| %>
                            <option><%= etiqueta.nombre%></option>
                        <% end %>
                    </select>
                  </div>
                  <div class="form-group">
                      <input type="text" name="busqueda" class="form-control" placeholder="Buscar">
                  </div>
                  <button type="submit" class="btn btn-default">Buscar</button>
                </form>
                <% if session[:user_id]!=0%>
                  <ul class="nav navbar-nav" style="margin-left:50px">
                      <li >
                          <a href= <%= "#{new_question_path}" %> >Crear Pregunta</a>
                      </li>
                  </ul>
                <%end%>
                <ul class="nav navbar-nav navbar-right" style="margin-right:50px">
                    <li>
                        <a href="#">Manual de Uso</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="row" style="padding-left: 10%;padding-right: 10%;margin-top: 25px;padding-top: 2%;">
  <div class="list-group" style="overflow: auto;width: 70%;margin:auto">
  <% if flash[:message] != nil %>

          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <div class="w3-panel w3-blue w3-display-container" style="margin-top: 50px;">
          <span onclick="this.parentElement.style.display='none'"class="w3-button w3-blue w3-large w3-display-topright">&times;</span>
          <h4  class="mb-1 text-center">Atención!</h4>
          <br>
          <p class="mb-1 text-center"><%= flash[:message] %></p>
          <%flash[:message]=nil%>
          </div>
    <% end %>

    <% @questions.order(created_at: :DESC).each do |question| %>
    <% @question=question %>
    <%= render 'question'  %>
    <% end %>
  </div>
</div>
