
<script>

function probando()
{


return true;
}


</script>

<div class="container" style="margin-top:100px">

  <form method="post" action="/questions/create" style="padding:50px" onsubmit="return probando()">
        <% if flash[:message] != nil %>

          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <div class="w3-panel w3-blue w3-display-container" style="margin-top: 50px;width:40%">
          <span onclick="this.parentElement.style.display='none'"class="w3-button w3-blue w3-large w3-display-topright">&times;</span>
          <h4>Atención!</h4>
          <br>
          <p><%= flash[:message] %></p>
          <script type="text/javascript"><!-- Scrip que al terminar de cargar la pagina, carga los valores de la anterior -->
            window.onload = function() 
            {
                
                document.getElementById("pregunta").value = "<%=$recargar[:pregunta]%>";
               
            }
           </script>
           <%$recargar=nil%>
          <%flash[:message]=nil%>
          </div>

        <% end %>

      <div class="form-group" >

        <label for="pregunta" class="control-label">Nueva Pregunta</label>

        <input type="text" id="pregunta" name="pregunta" class="form-control" style="width:50%;height:75px;margin-top:10px" placeholder="Nueva Pregunta" required>

      </div>

        <label for="divEtiquetas" class="control-label" style="margin-top:30px;">Seleccione Etiquetas</label>

        <div id="divEtiquetas" class="form-group" style="margin-top:25px;height:200px;width:30%;overflow:auto">

            <% @labels.order(:nombre).each do |label| %>

                  <div class="[ form-group ]">
                      <input type="checkbox" name="etiqueta[]" id="etiqueta<%=label.id%>" autocomplete="off" value= <%=label.id%> />
                      <div class="[ btn-group ]">
                          <label for="etiqueta<%=label.id%>" class="[ btn btn-primary ]">
                              <span class="[ glyphicon glyphicon-plus ]"></span>
                              <span class="[ glyphicon glyphicon-minus ]"></span>
                          </label>
                          <label for="etiqueta<%=label.id%>" class="[ btn btn-default active ]">
                            <%=label.nombre%>
                          </label>
                      </div>
                  </div>

            <% end %>

        </div>

        <button class="btn btn-primary"  type="submit" style="margin-top: 20px;">Crear Pregunta</button>

       



    </form>


</div>
