  <div class="row" style="padding-left: 10%;padding-right: 10%;margin-top: 25px;padding-top: 2%;">
      <div class="list-group" style="overflow: auto;width: 70%;margin:auto">



      <div  class="list-group-item list-group-item-action flex-column align-items-start active" style="margin-bottom:10px">
        <div style="padding-left: 10%;padding-right: 10%;">
              <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 text-center"><%= @question.contenido %> </h5>
                  <small> <%= @question.created_at.strftime("%d/%m/%Y %H:%M:%S")%> </small>
              </div>
              <%cantidad=0%>
              <%if @questionvotes.where(question_id:@question.id).count !=0%>
                <% @questionvotes.where(question_id:@question.id).each do|voto|%>
                  <%if voto.tipo%>
                    <%cantidad =cantidad+1%>
                  <%else%>
                    <%cantidad =cantidad-1%>
                  <%end%>
                <%end%>
              <%end%>
              <small>Numero de votos:<%= cantidad%><br></small>
              <small>Numero de visitas:<%= @question.num_visitas%></small>
              <p class="mb-1"><%= "#{@users.find(@question.user_id).nombre} #{@users.find(@question.user_id).apellido}"%></p>


              <div class="btn-group">
              <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
              <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

              <%if session[:user_id]!=0%>

                  <form  action="/cars/create" method="post" >

                    <input type="hidden" name="question_id" value=<%= @question.id%>>


                    <input type="hidden" name="votoP" id="votoP" value="0">

                    <input type="hidden" name="votoN" id="votoN" value="0">



                    <div class="btn-group">

                      <button type="submit" class="btn btn-primary" onclick="votoPositivo()">
                        <span class='glyphicon glyphicon-thumbs-up'></span>
                      </button>

                      <button type="submit" class="btn btn-primary" onclick="votoNegativo()">
                        <span class='glyphicon glyphicon-thumbs-down'></span>
                      </button>

                    </div>


                    <script>

                      function votoPositivo()
                      {
                      document.getElementById("votoP").value = "1"
                      }

                      function votoNegativo()
                      {
                      document.getElementById("votoN").value = "1"
                      }

                    </script>



                   </form>



              <%end%>

              <div class="btn-group">

                <button type="button" class="btn btn-primary" onclick="verComentarios()"> Ver/Ocultar Comentarios
                  <span class='glyphicon glyphicon-plus'></span>
                </button>

              </div>


             </div>

              <script>

                function verComentarios()  // despliega los comentarios si estan ocultos y oculta si estan desplegados
                {
                  if (document.getElementById("comentarios").style.display == 'block') {
                    document.getElementById("comentarios").style.display = 'none'
                  } else {
                    document.getElementById("comentarios").style.display = 'block'
                    }
                }

              </script>

              <div id="comentarios" style="margin-top:20px;height:100px;padding:10px;display:none;overflow:auto">

                <%if @questioncomments.where(question_id:@question.id).count != 0%>
                  <%@questioncomments.where(question_id:@question.id).each do |comentario|%>
                    <div style="padding:10px;background-color: #099e51;border-radius: 5px 10px;">
                     <h4 class="mb-1 text-center"><%= comentario.contenido %></h5>
                     <small> <%= comentario.created_at.strftime("%d/%m/%Y %H:%M:%S")%> </small>
                     <%cantidad=0%>
                     <%if @questioncommentvotes.where(question_id:@question.id).count !=0%>
                       <% @questioncommentvotes.where(question_id:@question.id).each do|voto|%>
                        <%if voto.tipo%>
                          <%cantidad =cantidad+1%>
                        <%else%>
                          <%cantidad =cantidad-1%>
                        <%end%>
                       <%end%>
                     <%end%>

               <small><br>Numero de votos:<%= cantidad%><br></small>
                     <small> <%= @users.find(comentario.user_id).nombre%> <%= @users.find(comentario.user_id).apellido%></small>
                    </div>
                  <%end%>
                <%end%>

              </div>


        </div>
      </div>




        <% @answers.where(question_id: @question.id).each do |resp| %>
          <% @resp=resp %>
             <a  class="list-group-item list-group-item-action flex-column align-items-start active" style="margin-bottom:10px;background-color: #099e81;">
              <div style="padding-left: 10%;padding-right: 10%;">
                  <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1 text-center"><%= @resp.contenido %> </h5>
                      <small> <%= @resp.created_at.strftime("%d/%m/%Y %H:%M:%S")%> </small>
                  </div>
                  <p class="mb-1"><%= "#{@users.find(@resp.user_id).nombre} #{@users.find(@resp.user_id).apellido}"%></p>
              </div>
          </a>
          <%end%>

      </div>
