<div class="row" style="padding-left: 10%;padding-right: 10%;margin-top: 25px;padding-top: 2%;">
      <div class="list-group" style="overflow: auto;width: 70%;margin:auto">
        <% if flash[:message] != nil %>
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <div class="w3-panel w3-blue w3-display-container" style="margin-top: 50px;">
            <span onclick="this.parentElement.style.display='none'"class="w3-button w3-blue w3-large w3-display-topright">&times;</span>
            <h4 class="mb-1 text-center">Atención!</h4>
            <br>
            <p><%= flash[:message] %></p>
            <%flash[:message]=nil%>
            </div>
        <% end %>

        <div  class="list-group-item list-group-item-action flex-column align-items-start active" style="margin-bottom:10px">
          <div style="padding-left: 5%;padding-right: 5%;">
                <!-- Visualizacion e interaccion de la pregunta -->
                <%= render 'questioninfo' %>
                <%= render 'questionbuttons'%>

                <!-- Visualizacion e interaccion de comentarios a la pregunta -->
                <div id="comentariosPreg" style="margin-top:20px;height:200px;padding:10px;display:none;background-color: #B45F04;border-radius: 5px 10px;overflow:auto">
                    <%if @questioncomments.where(question_id:@question.id).count != 0%> <!-- Si la pregunta tiene comentarios -->
                      <%@questioncomments.where(question_id:@question.id).each do |comentario|%> <!-- Recorro todos los comentarios -->
                        <%@comentario = comentario%>
                        <%=render 'questioncommentinfo' %>
                        <%=render 'questioncommentbuttons' %>
                      <%end%>
                    <%end%>
                </div>
          </div>
        </div>
        <div   id="escribircomentario" style="margin-bottom:10px;display:none;padding-left: 5%;padding-right: 5%;background-color: #B45F04;" class="list-group-item list-group-item-action flex-column" >
          <form action="/questions_comments/create" method="post" style="margin-top:20px;height:150px;">
            <label style="color:white;" for="comment">Escribir Comentario:</label>
            <input type="hidden" name="question_id" value=<%= @question.id%>>
            <input type="text" id="comentario" name="comentario"  class="form-control" style="width:50%;height:30px;" placeholder="Escriba su comentario..." required>
            <button class="btn" type="submit" style="margin-top: 10px;">Escribir</button>
          </form>
        </div>
        <div   id="escribirrespuesta" style="margin-bottom:10px;display:none;padding-left: 5%;padding-right: 5%;background-color: #099e81;" class="list-group-item list-group-item-action flex-column" >
          <form action="/answers/create" method="post" style="margin-top:20px;height:150px">
            <label style="color:white;" for="comment">Escribir Respuesta:</label>
            <input type="hidden" name="question_id" value=<%= @question.id%>>
            <input type="text" id="respuesta" name="respuesta"  class="form-control" style="width:50%;height:30px;" placeholder="Escriba su respuesta" required>
            <button class="btn" type="submit" style="margin-top: 10px;">Crear respuesta!</button>
          </form>
        </div>

        <!-- Visualizacion e interaccion de las respuestas -->
        <% @answers.where(question_id: @question.id).each do |resp| %>
           <% @resp=resp %>
           <div  class="list-group-item list-group-item-action flex-column align-items-start active" style="margin-bottom:10px;background-color: #099e81;">
            <div style="padding-left: 5%;padding-right: 5%;">
              <%= render 'answerinfo'%>
              <%= render 'answerbuttons'%>
              <!-- Visualizacion e interaccion de comentarios a la pregunta -->
              <div id="comen<%=@resp.id%>" style="margin-top:20px;height:200px;padding:10px;display:none;overflow:auto;background-color: #3A01DF;border-radius: 5px 10px">
                <%if @answercomments.where(answer_id:@resp.id).count != 0%> <!-- Si la respuesta tiene comentarios -->
                  <%@answercomments.where(answer_id:@resp.id).each do |comentario|%> <!-- Recorro todos los comentarios -->
                    <%@comentarioR = comentario%>
                    <%=render 'answercommentinfo'%>
                    <%=render 'answercommentbuttons'%>
                  <%end%>
                <%end%>
              </div>
            </div>
           </div>
           <div id="<%=@resp.id%>" style="margin-bottom:10px;display:none;padding-left: 5%;padding-right: 5%;background-color: #3A01DF;" class="list-group-item list-group-item-action flex-column" >
             <form action="/answers_comments/create" method="post" style="margin-top:20px;height:150px;">
               <label style="color:white;" for="comment">Escribir Comentario:</label>
               <input type="hidden" name="question_id" value=<%= @question.id%>>
               <input type="hidden" name="answer_id" value=<%= @resp.id%>>
               <input type="text" id="comentario" name="comentario"  class="form-control" style="width:50%;height:30px;" placeholder="Escriba su comentario..." required>
               <button class="btn" type="submit" style="margin-top: 10px;">Escribir</button>
             </form>
           </div>
        <%end%>
      </div>
</div>
