<div class="row" style="padding-left: 10%;padding-right: 10%;margin-top: 25px;padding-top: 2%;">
      <div class="list-group" style="overflow: auto;width: 70%;margin:auto">
        <% if flash[:message] != nil %>
          <% if (flash[:message] == "Voto con exito")%>
            <% @color="green" %>
          <%else%>
            <% @color="red" %>
          <%end%>
          <%= render '/mensaje/mensaje'  %>
        <% end %>

        <div  class="list-group-item list-group-item-action flex-column align-items-start active" style="background-color: #5a96ba;margin-bottom:10px">
          <div style="padding-left: 5%;padding-right: 5%;">
                <!-- Visualizacion e interaccion de la pregunta -->
                <%= render 'questioninfo' %>
                <%= render 'questionbuttons'%>

                <!-- Visualizacion e interaccion de comentarios a la pregunta -->
                <div id="comentariosPreg" style="margin-top:20px;height:200px;padding:10px;display:none;background-color: #95C8D6;border-radius: 5px 10px;overflow:auto">
                    <%if @questioncomments.where(question_id:@question.id).count != 0%> <!-- Si la pregunta tiene comentarios -->
                      <%@questioncomments.where(question_id:@question.id).each do |comentario|%> <!-- Recorro todos los comentarios -->
                        <%@comentario = comentario%>
                        <%=render 'questioncommentinfo' %>
                        <%=render 'questioncommentbuttons' %>
                      <%end%>
                    <%else%>
                      <h4 class="text-center">Ups! Aun no hay comentarios...</h4>
                    <%end%>
                </div>
          </div>
        </div>
        <div   id="escribircomentario" style="margin-bottom:10px;display:none;padding-left: 5%;padding-right: 5%;background-color: #95C8D6;" class="list-group-item list-group-item-action flex-column" >
          <form action="/questions_comments/create" method="post" style="margin-top:20px;height:150px;">
            <label style="color:white;" for="comment">Escribir Comentario:</label>
            <input type="hidden" name="question_id" value=<%= @question.id%>>
            <input type="text" id="comentario" name="comentario"  class="form-control" style="width:50%;height:30px;" placeholder="Escriba su comentario..." required>
            <button class="btn" type="submit" style="margin-top: 10px;">Escribir</button>
          </form>
        </div>
        <div   id="escribirrespuesta" style="margin-bottom:10px;display:none;padding-left: 5%;padding-right: 5%;background-color: #4cbcc0;" class="list-group-item list-group-item-action flex-column" >
          <form action="/answers/create" method="post" style="margin-top:20px;height:150px">
            <label style="color:white;" for="comment">Escribir Respuesta:</label>
            <input type="hidden" name="question_id" value=<%= @question.id%>>
            <input type="text" id="respuesta" name="respuesta"  class="form-control" style="width:50%;height:30px;" placeholder="Escriba su respuesta" required>
            <button class="btn" type="submit" style="margin-top: 10px;">Crear respuesta!</button>
          </form>
        </div>

        <!-- Visualizacion e interaccion de las respuestas -->
        <!-- Mejor Respuesta primero, si la pregunta tiene mejor respuesta la muestro-->
        <%if @answers.where(question_id: @question.id).count !=0%><!-- Si la pregunta tiene respuestas -->
          <%if @question.mejor_respuesta !=nil %>
            <% @resp=@answers.find(@question.mejor_respuesta) %>
             <div  class="list-group-item list-group-item-action flex-column align-items-start active" style="margin-bottom:10px;background-color: #4cbcc0;">
              <div style="padding-left: 5%;padding-right: 5%;">
                <%= render 'answerinfo'%>
                <%= render 'answerbuttons'%>
                <!-- Visualizacion e interaccion de comentarios a la pregunta -->
                <div id="comen<%=@resp.id%>" style="margin-top:20px;height:200px;padding:10px;display:none;overflow:auto;background-color: #95C8D6;border-radius: 5px 10px">
                  <%if @answercomments.where(answer_id:@resp.id).count != 0%> <!-- Si la respuesta tiene comentarios -->
                    <%@answercomments.where(answer_id:@resp.id).each do |comentario|%> <!-- Recorro todos los comentarios -->
                      <%@comentarioR = comentario%>
                      <%=render 'answercommentinfo'%>
                      <%=render 'answercommentbuttons'%>
                    <%end%>
                  <%else%>
                    <h4 class="text-center">Ups! Aun no hay comentarios...</h4>
                  <%end%>
                </div>
              </div>
             </div>
             <div id="<%=@resp.id%>" style="margin-bottom:10px;display:none;padding-left: 5%;padding-right: 5%;background-color: #95C8D6;" class="list-group-item list-group-item-action flex-column" >
               <form action="/answers_comments/create" method="post" style="margin-top:20px;height:150px;">
                 <label style="color:white;" for="comment">Escribir Comentario:</label>
                 <input type="hidden" name="question_id" value=<%= @question.id%>>
                 <input type="hidden" name="answer_id" value=<%= @resp.id%>>
                 <input type="text" id="comentario" name="comentario"  class="form-control" style="width:50%;height:30px;" placeholder="Escriba su comentario..." required>
                 <button class="btn" type="submit" style="margin-top: 10px;">Escribir</button>
               </form>
             </div>
          <%end%>
          <!-- El resto de las respuestas, si ve que la respuesta que le toca, es la de mejor respuesta, no hace nada y sigue hacia la siguiente respuesta -->
          <% @answers.where(question_id: @question.id).each do |resp| %>
            <%if @question.mejor_respuesta !=resp.id %>
             <% @resp=resp %>
             <div  class="list-group-item list-group-item-action flex-column align-items-start active" style="margin-bottom:10px;background-color: #4cbcc0;">
              <div style="padding-left: 5%;padding-right: 5%;">
                <%= render 'answerinfo'%>
                <%= render 'answerbuttons'%>
                <!-- Visualizacion e interaccion de comentarios a la pregunta -->
                <div id="comen<%=@resp.id%>" style="margin-top:20px;height:200px;padding:10px;display:none;overflow:auto;background-color: #95C8D6;border-radius: 5px 10px">
                  <%if @answercomments.where(answer_id:@resp.id).count != 0%> <!-- Si la respuesta tiene comentarios -->
                    <%@answercomments.where(answer_id:@resp.id).each do |comentario|%> <!-- Recorro todos los comentarios -->
                      <%@comentarioR = comentario%>
                      <%=render 'answercommentinfo'%>
                      <%=render 'answercommentbuttons'%>
                    <%end%>
                  <%else%>
                    <h4 class="text-center">Ups! Aun no hay comentarios...</h4>
                  <%end%>
                </div>
              </div>
             </div>
             <div id="<%=@resp.id%>" style="margin-bottom:10px;display:none;padding-left: 5%;padding-right: 5%;background-color: #95C8D6;" class="list-group-item list-group-item-action flex-column" >
               <form action="/answers_comments/create" method="post" style="margin-top:20px;height:150px;">
                 <label style="color:white;" for="comment">Escribir Comentario:</label>
                 <input type="hidden" name="question_id" value=<%= @question.id%>>
                 <input type="hidden" name="answer_id" value=<%= @resp.id%>>
                 <input type="text" id="comentario" name="comentario"  class="form-control" style="width:50%;height:30px;" placeholder="Escriba su comentario..." required>
                 <button class="btn" type="submit" style="margin-top: 10px;">Escribir</button>
               </form>
             </div>
            <%end%>
          <%end%>
        <%else%>
          <% flash[:message] = "No hay respuestas aún"%>
          <%@color="orange"%>
          <%= render '/mensaje/mensaje'  %>
        <%end%>
      </div>
</div>
