<%flash[:auxVerPerfil] = nil%>

<script type="text/javascript">
function Mostrar(faculty_id)
{
    formUpdate= "formUpdate" + faculty_id;
    if(document.getElementById(formUpdate).style.display!="block")
      document.getElementById(formUpdate).style.display="block"
    else
      document.getElementById(formUpdate).style.display="none"
}
</script>

<% if flash[:messageError] != nil %>
  <% @color="red" %>
  <%= render '/mensaje/mensaje'  %>
<% end %>
<% if flash[:messageOk] != nil %>
  <% @color="green" %>
  <%= render '/mensaje/mensaje'  %>
<% end %>


<ul class="list-group">


  <%@faculties.order(:nombre).each do |facultad|%>
  <%if facultad.activo == true %>
    <li class="list-group-item">
    <%= facultad.nombre %>
    <button type="button" class="btn btn-warning" onclick="Mostrar(<%=facultad.id%>)">Modificar</button>
    <%= link_to faculties_delete_path(facultad.id) do %>
      <button type="button" class="btn btn-danger">Eliminar</button>
    <%end%>
    <form form class="" action="/faculties/update" id="formUpdate<%=facultad.id%>" method="get" style="display:none;margin-top:10px">

      <input type="hidden"  name="faculty_id" id="faculty_id" value="<%=facultad.id%>">


      <div class="form-group">

        <div style="padding:10px">
          <label for="nombre">Nuevo Nombre:</label>
          <input type="text"  name="nombre" id="nombre" required style="text-transform: capitalize">
       </div>
       <div style="padding:10px;float:bottom">
          <label for="ciudad">Nueva Ciudad:</label>
          <input type="text"  name="ciudad" id="ciudad" required style="text-transform: capitalize">
       </div>
       <div style="padding:10px;float:bottom">
          <label for="direccion">Nueva Direccion:</label>
          <input type="text"  name="direccion" id="direccion" required style="text-transform: capitalize">
       </div>
       <div style="padding:10px;float:bottom">
         <button class="btn  btn-primary" type="submit" >Modificar Facultad</button>
       </div>


      </div>
    </form>
    <br>
    <%=@directions.find(facultad.direction_id).ciudad%>, <%=@directions.find(facultad.direction_id).calle%>
    </li>
  <%end%>
  <%end%>
<% if session[:user_id] != 0 %>
  <li class="list-group-item " style="padding:30px">

      <h3 style="color:rgb(5,50,150)">Nueva Facultad</h3>  <br>


        <form class="form-inline" action="/faculties/create" method="post" style="width:50%">
          <div class="form-group">
          <div style="padding:10px">
           <label for="nombre">Nombre:</label>
           <input type="text" class="form-control" name="nombre" id="nombre" style="text-transform: capitalize" pattern="[A-Za-z0-9]+" title="Solo letras y Numeros">
         </div>
         <div style="padding:10px;float:bottom">
           <label for="ciudad">Ciudad:</label>
           <input type="text" class="form-control" name="ciudad" id="ciudad" style="text-transform: capitalize" pattern="[A-Za-z0-9]+" title="Solo letras y Numeros">


         </div>
         <div style="padding:10px;float:bottom">
           <label for="direccion">Direccion:</label>
           <input type="text" class="form-control" name="direccion" id="direccion" style="text-transform: capitalize" pattern="[A-Za-z0-9]+" title="Solo letras y Numeros">
         </div>

         <div style="padding:10px;float:bottom">
           <input class="btn btn-lg btn-primary" type="submit" style="" value="Crear Facultad">
         </div>

          </div>




    </form>
  </li>
  <%end%>

</ul>
